---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: web
  labels:
    k8s-app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: web
  template:
    metadata:
      labels:
        k8s-app: web
        name: web
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - image: {{getenv "REGISTRY_HOST" "missing"}}/web:latest
        name: web
        ports:
        - name: http
          containerPort: 80

---
kind: Service
apiVersion: v1
metadata:
  name: web
spec:
  selector:
    k8s-app: web
  ports:
  - protocol: TCP
    port: 80

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: web
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: web
          servicePort: 80