---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: redis
  namespace: {{getenv "NAMESPACE"}}
  labels:
    k8s-app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: redis
  template:
    metadata:
      labels:
        k8s-app: redis
        name: redis
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - image: {{getenv "REGISTRY_HOST"}}/redis:{{getenv "IMAGE_TAG"}}
        name: redis
        ports:
        - name: redis
          containerPort: 6379

---
kind: Service
apiVersion: v1
metadata:
  name: redis
  namespace: {{getenv "NAMESPACE"}}
spec:
  selector:
    k8s-app: redis
  ports:
  - protocol: TCP
    port: 6379

---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: web
  namespace: {{getenv "NAMESPACE"}}
  labels:
    k8s-app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: web
  template:
    metadata:
      labels:
        k8s-app: web
        name: web
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - image: {{getenv "REGISTRY_HOST"}}/web:{{getenv "IMAGE_TAG"}}
        name: web
        ports:
        - name: http
          containerPort: 80

---
kind: Service
apiVersion: v1
metadata:
  name: web
  namespace: {{getenv "NAMESPACE"}}
spec:
  selector:
    k8s-app: web
  ports:
  - protocol: TCP
    port: 80

---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: api
  namespace: {{getenv "NAMESPACE"}}
  labels:
    k8s-app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: api
  template:
    metadata:
      labels:
        k8s-app: api
        name: api
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - image: {{getenv "REGISTRY_HOST"}}/api:{{getenv "IMAGE_TAG"}}
        name: api
        ports:
        - name: http
          containerPort: 80

---
kind: Service
apiVersion: v1
metadata:
  name: api
  namespace: {{getenv "NAMESPACE"}}
spec:
  selector:
    k8s-app: api
  ports:
  - protocol: TCP
    port: 80

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: web
  namespace: {{getenv "NAMESPACE"}}
  annotations:
    traefik.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: web
          servicePort: 80
      - path: /api
        backend:
          serviceName: api
          servicePort: 80